.hello{
    font-size: 34px;
}
.card{
    width: 400px; 
    box-shadow: 2px solid black;
    display: flex;
}
.content{
    padding-left: 3rem;
    /* width:4rem; */
    /* padding-top: -150rem; */
}
.images{
    width: 200px;
    /* left:94rem; */
}
